body {
    margin: 0;
}

h1 {
   margin-top: 0;
}

.page1 {
    height: 200px;
    width: 200px;
}

.topContainer {
    background-color: skyblue;
}

.middleContainer {
    background-color: pink;
}

.bottomContainer {
    background-color: skyblue;
}